<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.viperfish.mpbmamaepagabarato">

    <application
        android:allowBackup="true"
        android:icon="@drawable/baby_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.produto.ListaProdutosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.produto.FormularioProdutoActivity"
            android:parentActivityName=".activity.produto.ListaProdutosActivity">

            <!-- Configura a nevagacao do botao voltar. Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.viperfish.mpbmamaepagabarato.activity.produto.ListaProdutosActivity" />
        </activity>
        <activity
            android:name=".activity.produto.MaisInformacoesProdutoActivity"
            android:parentActivityName=".activity.produto.ListaProdutosActivity">

            <!-- Configura a nevagacao do botao voltar. Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.viperfish.mpbmamaepagabarato.activity.produto.ListaProdutosActivity" />
        </activity>
        <activity
            android:name=".activity.produto.formularios.CategoriaAnuncioActivity"
            android:parentActivityName=".activity.produto.ListaProdutosActivity">

            <!-- Configura a nevagacao do botao voltar para listagem de anuncios -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.viperfish.mpbmamaepagabarato.activity.produto.ListaProdutosActivity" />
        </activity>
        <activity
            android:name=".activity.produto.formularios.SubCategoriaActivity"
            android:parentActivityName=".activity.produto.formularios.CategoriaAnuncioActivity">

            <!-- Configura a nevagacao do botao voltar para categoria -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.viperfish.mpbmamaepagabarato.activity.produto.formularios.CategoriaAnuncioActivity" />
        </activity>
        <activity
            android:name=".activity.produto.formularios.TituloAnuncioActivity"
            android:parentActivityName=".activity.produto.formularios.SubCategoriaActivity">

            <!-- Configura a nevagacao do botao voltar para listagem das sub categorias -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.viperfish.mpbmamaepagabarato.activity.produto.formularios.SubCategoriaActivity" />
        </activity>
        <activity android:name=".activity.produto.formularios.DescricaoAnuncioActivity"
                  android:parentActivityName=".activity.produto.formularios.TituloAnuncioActivity">

            <!-- Configura a nevagacao do botao voltar para formulario do titulo do anuncio -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.viperfish.mpbmamaepagabarato.activity.produto.formularios.TituloAnuncioActivity" />

        </activity>
        <activity android:name=".activity.produto.formularios.QualPrecoActivity"
                  android:parentActivityName=".activity.produto.formularios.DescricaoAnuncioActivity">

            <!-- Configura a nevagacao do botao voltar para formulario do descricao do anuncio -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.viperfish.mpbmamaepagabarato.activity.produto.formularios.DescricaoAnuncioActivity" />


        </activity>

    </application>

</manifest>